.card {
    position: relative;
    width: 600px;
    padding: 20px;
    max-width: 85vw;
    height: 85vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.205);
}

.card > h2 {
    position: absolute;
    top: 10px;
    color: white;
}

.tinderCards__cardContainer {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.swipe {
    position: absolute;
}

.name {
    font-size: x-large;
}